<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eystar.gen.mapper.CPStatusMapper">
  <resultMap id="BaseResultMap" type="com.eystar.gen.entity.CPStatus">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="cpu_rate" jdbcType="DOUBLE" property="cpuRate" />
    <result column="probe_id" jdbcType="VARCHAR" property="probeId" />
    <result column="ram_rate" jdbcType="DOUBLE" property="ramRate" />
    <result column="run_time" jdbcType="VARCHAR" property="runTime" />
    <result column="timesheet" jdbcType="BIGINT" property="timesheet" />
    <result column="timesheet_par" jdbcType="TIMESTAMP" property="timesheetPar" />
    <result column="timesheet_d" jdbcType="BIGINT" property="timesheetD" />
    <result column="timesheet_h" jdbcType="BIGINT" property="timesheetH" />
    <result column="timesheet_m" jdbcType="BIGINT" property="timesheetM" />
    <result column="timesheet_w" jdbcType="BIGINT" property="timesheetW" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>




  <insert id="insert" parameterType="com.eystar.gen.entity.CPStatus">
      insert into c_p_status (id, cpu_rate, probe_id,
      ram_rate, run_time, timesheet,
      timesheet_par, timesheet_d, timesheet_h,
      timesheet_m, timesheet_w, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{cpuRate,jdbcType=DOUBLE}, #{probeId,jdbcType=VARCHAR},
      #{ramRate,jdbcType=DOUBLE}, #{runTime,jdbcType=VARCHAR}, #{timesheet,jdbcType=BIGINT},
      #{timesheetPar,jdbcType=TIMESTAMP}, #{timesheetD,jdbcType=BIGINT}, #{timesheetH,jdbcType=BIGINT},
      #{timesheetM,jdbcType=BIGINT}, #{timesheetW,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}
      )
  </insert>


  <insert id="insertList" parameterType="com.eystar.gen.entity.CPStatus">
      insert into t_c_p_status (id, cpu_rate, probe_id,
      ram_rate, run_time, timesheet,
      timesheet_par, timesheet_d, timesheet_h,
      timesheet_m, timesheet_w, create_time
      )
    values
    <foreach collection="list" item="item" index="index" separator=",">
     (#{item.id,jdbcType=VARCHAR}, #{item.cpuRate,jdbcType=DOUBLE}, #{item.probeId,jdbcType=VARCHAR},
      #{item.ramRate,jdbcType=DOUBLE}, #{item.runTime,jdbcType=VARCHAR}, #{item.timesheet,jdbcType=BIGINT},
      #{item.timesheetPar,jdbcType=TIMESTAMP}, #{item.timesheetD,jdbcType=BIGINT}, #{item.timesheetH,jdbcType=BIGINT},
      #{item.timesheetM,jdbcType=BIGINT}, #{item.timesheetW,jdbcType=BIGINT}, #{item.createTime,jdbcType=BIGINT}
      )
    </foreach>
  </insert>




  <insert id="insertSelective" parameterType="com.eystar.gen.entity.CPStatus">
    insert into c_p_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cpuRate != null">
        cpu_rate,
      </if>
      <if test="probeId != null">
        probe_id,
      </if>
      <if test="ramRate != null">
        ram_rate,
      </if>
      <if test="runTime != null">
        run_time,
      </if>
      <if test="timesheet != null">
        timesheet,
      </if>
      <if test="timesheetPar != null">
        timesheet_par,
      </if>
      <if test="timesheetD != null">
        timesheet_d,
      </if>
      <if test="timesheetH != null">
        timesheet_h,
      </if>
      <if test="timesheetM != null">
        timesheet_m,
      </if>
      <if test="timesheetW != null">
        timesheet_w,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="cpuRate != null">
        #{cpuRate,jdbcType=DOUBLE},
      </if>
      <if test="probeId != null">
        #{probeId,jdbcType=VARCHAR},
      </if>
      <if test="ramRate != null">
        #{ramRate,jdbcType=DOUBLE},
      </if>
      <if test="runTime != null">
        #{runTime,jdbcType=VARCHAR},
      </if>
      <if test="timesheet != null">
        #{timesheet,jdbcType=BIGINT},
      </if>
      <if test="timesheetPar != null">
        #{timesheetPar,jdbcType=TIMESTAMP},
      </if>
      <if test="timesheetD != null">
        #{timesheetD,jdbcType=BIGINT},
      </if>
      <if test="timesheetH != null">
        #{timesheetH,jdbcType=BIGINT},
      </if>
      <if test="timesheetM != null">
        #{timesheetM,jdbcType=BIGINT},
      </if>
      <if test="timesheetW != null">
        #{timesheetW,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

</mapper>